<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit and Application</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
</head>
<body>

    <h1>Apply to this service request</h1>

    <div class="section">
        <form method="POST">
            <label for="proposed_price">Propose a price for your work: </label>
            <input type="number" name="proposed_price" id="proposed_price">
            
            <label for="comment">Comments: </label>
            <textarea name="comment" id="comment"></textarea>

            <input type="submit">
        </form>
    </div>

</body>
</html>