<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Status</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
</head>
<body>

    <h1>Create a New Service Request</h1>

    <div class="section">
        <form>
            <label for="status">Status of your project (eg, nearly done, beginning, etc): </label>
            <input type="text" name="status" id="status">

            <label for="description">A good description of your project: </label>
            <input type="text" name="description" id="description">
            
            <label for="clothing_type">What type of clothing does your project involve? </label>
            <textarea name="clothing_type" id="clothing_type"></textarea>

            <input type="submit">
        </form>
    </div>

</body>
</html>