<!DOCTYPE html>
<html>
<head>
    <title>TaskMan</title>
</head>
<body>
    <h2>Created new TaskMan account</h2>
    <form>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname">
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lanme">
        <label for="phonenum">Phone Number:</label>
        <input type="number" id="phonenum" name="phonenum">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </form>>
</body>
</html>