<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Status</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>

    <h1>Customer Dashboard</h1>

    <div class="section">
        <h2>Your Submitted Service Requests</h2>

        {% for job in jobs %}
            <div class="job-box">
                Status: {{ job[2] }}<bsr>
                Description: {{ job[3] }}<br>
                Clothing type: {{ job[4] }}</div>
        {% endfor %}
    </div>

    <div class="section">
        <h2>Create a New Service Request</h2>
        <p>Use this option to post a new service request to the marketplace.</p>
        <a href="create_service_request"><button>Create Service Request</button></a>
    </div>

</body>
</html>