<<<<<<< Updated upstream
h1,
h2,
h3,
h4,
h5,
h6 {
=======
h1,h2,h3,h4,h5,h6 {
>>>>>>> Stashed changes
    font-family: "Playfair Display", Georgia, "Times New Roman", serif
        /*rtl:Amiri, Georgia, "Times New Roman", serif*/
    ;
}

.loginDiv {
    background-color: rgb(35, 166, 111);
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}